													/* deleteStuff.css */
#wrapper{
  margin: 10px auto;
  width: 100%;
}	
#wrapper #innerBox{
  width: 90%;
  margin: 5% auto;
  /* outline: 1px solid red; */
}													
#innerBox #deleteStaffDiv{
  width: 100%;
  margin: 20px auto;  
}
#innerBox #deleteStaffDiv h2{
  text-align: center;	
}
#deleteStaffDiv span{
  text-align: center;
  color: red;
  padding: 10px;
}
.stuffLinks{
  display: block;
  width: 90%;
  margin: 10 auto;
  height: 32px; 
}
.stuffLinks a{
  display: block;
  width: 48%;
  height: 30px;
  line-height: 30px;
  float: left;
  text-decoration: none;
  border: 1px solid #0f11e8;
  border-radius: 5px;
  text-align: center;
  font-size: .8em;
  margin: 0 1px 0 0;
}
.stuffLinks  a:hover{
  background-color: rgba(15,17,232, 0.2);	
}